# --- 1. Criptografía y Seguridad (Core) ---
ecdsa==0.18.0
pycryptodome==3.20.0

# --- 2. Capa de Red (API REST y P2P) ---
Flask==2.3.3
pydantic==2.8.2
requests==2.31.0
waitress==2.1.2

# --- 3. Utilidades de Desarrollo ---
python-dotenv==1.0.0
click==8.1.7

# --- 4. Pruebas (Testing) ---
pytest==7.4.2
pytest-cov==4.1.0

mnemonic==0.21
fastapi==0.103.0
uvicorn==0.23.2